<header>
    <nav class="burger-navigation" role="navigation">
        <div class="menu-toggle">
            <input type="checkbox" id="burgerToggle"/>
            <label for="burgerToggle">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <ul class="menu">
                <a routerLink="/movies">
                    <li>Movies</li>
                </a>
                <a routerLink="/favorite-movies">
                    <li>Favorites</li>
                </a>

            </ul>
        </div>
    </nav>
</header>
